*
{
    margin: 0px; /* property-name: property-value; */
    padding: 0px;
}

header{
    width: 100%;
    align-items: center;
    background-color: #a3d5ff;
    padding-bottom: 5px;
}

header h1{
    text-align: center;
    color: #6879d0;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-bar a{
    color:#8579ff;
}

.nav-bar .current{
    color:#000000;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


.content{
    width: 100%;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #6879d0;
    background-color:  #a3d5ff;
    text-align: center;
}